<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Author</key>
		<string>ZOL新闻中心</string>
		<key>AddTime</key>
		<string>2015-01-15 16:29</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logoa</string>
		<key>Title</key>
		<string>智能家居的机遇与未来</string>
		<key>Detail</key>
		<string>2015年1月14日，由搜狐IT、搜狐焦点产业新区联合主办的“2015搜狐科技财富论坛”在北京举行。佳沃集团董事长兼总裁陈绍鹏，北京文朗润诚软件有限公司副总经理马立民，本来生活副总裁戴山辉，顺丰优选副总裁陈旭，欧瑞博CEO王雄辉，美国博通公司FAE总监杨学贤，西门子控制产品与系统 事业部应用中心经理刘，搜狐快站首席产品架构师翁晓奇，果壳MOOC学院产品经理黄侔， 北京沃赢科技有限公司创始人兼CEO郄晓烨，金丰能源中心总经理张毅，新农商学院创始人辛巴，智东西联合创始人兼主编张国仁，赞赏社交出版创始人陈序，搜狐焦点产业新区总经理陈雪源出席活动并发言。无穷俱乐部、新农商学院、赞赏社交出版是本次论坛的承载平台、智东西是本次论坛的特约媒体。</string>
		<key>Image</key>
		<string>imagea</string>
		<key>Content</key>
		<string>　　以下为欧瑞博CEO王雄辉部分发言摘录，实录未经本人确认：
　　王雄辉：大家下午好!欧瑞博不是领导厂商，而是一个创业公司，只不过我们在这个行业跑得稍微努力一点，得到了大家更多的认同。我是刚刚从CES回来，跟大家分享一下有关智能家居的机遇和未来。南方人在北京，外面挺冷的，在这里感觉到活动的热情，先给点掌声鼓励一下。
　　接下来我会结合智能家居发展，从我们来看的一些趋势，还有我们目前遇到的问题，怎么解决这些问题这几个方面跟大家分享，我是欧瑞博的CEO王雄辉，这是我们品牌的宗旨，“有梦想，慧生活”。
　　2014年开始，智能家居就非常火了，谷 歌32亿美金收购了NEST，苹果收购了HomeKit，我们在美国CES已经看到了Homekit的产品已经发布了，还有国内的厂家，京东，海尔都发布了智能家居的平台，我们得出一个结论，智能家居火了，智能硬件也非常火。
　　现在每天都会有不同的智能硬件新品在发布，各种智能开关，智能插座，智能手环大量的涌现，我们不禁会问一个问题，为什么突然之间智能硬件会这么火，我们是这么看待这个问题的。
　　什么是智能硬件?应该包括三个部分，一是硬件，二是云端计算能力，三是APP移动应用，智能硬件发展的浪潮跟互联网是紧紧联系在一起的。
　　互联网的发展，90年代PC互联网的时候，互联网连接了所有的PC，当时互联网的连接数是千万级的连接数。到了后面的移动互联网时代，连接了每一台手机，互联网的边际从PC到PC跨到连接手机到手机，这时候达到了百亿级的连接数。我们认为从现在开始到未来十年，二十年，互联网要解决的问题，把各种家电，各种硬件设备连接起来，这个时候互联网的连接数会达到千亿，甚至万亿级。我们认为智能家居，智能硬件现在的火爆是因为互联网边际扩大的结果。
　　借用克里斯?安德森的一句话简单总结一下，为什么智能家居现在会火起来?“过去十年，人们在互联网里做了前所未有的创新和发明，未来十年，这些创新和经验会扩散应用到现在现实世界里，包括智能硬件、O2O”。这是一个全新的时代，智能家居在这个环境里，同2014年开始火热起来。这一次我们去美国CES展的时候也看到了智能家居完全取代了智能手机，成为整个展会的主题。现在人们不再关注三星的手机弯屏，而是更多的关注智能硬件厂家和创意公司新的产品。大家关注的焦点在转移。
　　回顾一下智能家居的发展，智能家居并不是非常新的概念，八九十年代就有智能家居的概念出现，同时一些系统集成的智能家居的产品，通过一个中控，把每个家电，各个设备连起来，这是非常工程化的产品，交互性不强。另外一方面，早期的智能家居并没有联网，只是一个自动化的过程，不能实现真正的智能化。早期主要是用在一些大的House里面，比如说别墅里面，流通成本非常高，不能大量普及。我们现在看到这一波智能家居的特点是什么?智能单品的爆发，每个产品可以单独使用，连接互联网，但是这个产品目前来看也有一些问题，接下来我会讲到。
　　我们看到苹果店，一些数码店里面已经开始有一些智能家居产品，美国NEST已经在美国的苹果店里大量的销售，应用模式已经发生了一些变化。典型的代表，Nest的恒温器，还有飞利浦的HUE五，还有欧瑞博的WIFI智能摇控器，能解决一小部分的智能家居问题。
　　在我们看来，智能家居面临哪些问题，怎么解决这些问题?现在家里的家电这么多，很碎片化，冰箱、空调、热水器，怎样实现智能家居?第一个问题，如何让家电智能化，使开关、插座、电视机更智能，这是第一件事情。第二件事，如何把这些家电联系在一起，形成互联互通，真正智能化的产品。现在很多公司，很多团队只看到第一个问题，如何让家电智能化的问题，智能家居是一个场景化的体验，仅仅一个家电智能化不能完全解决问题，要解决两个问题，一个是如何让每个家电智能化，二是如何让每个家电互联互通，形成更智能的场景。
　　我们关注三件事，一个是基础控制，例如灯光、开关、窗帘，第二类是环境感知，需要感知家里的光照、温湿度，同时还关注舒适、愉悦，例如音响等一些多媒体的交互。
　　简单看一下我们的产品，我们认为智能家居不会发明新的产品，一定是在原来的产品上进行更智能化的叠加，也不会产生新的功能，一定是用互联网的思维，用一些新的技术，让我们原来的开关，原来的插座变得有更加好的体验，我们怎么样把开关做好，怎么把操作做好，做得体验更加好。
　　过去传统的开关，家里的开关数量是最多的，传统每一个开关都是孤立存在的，彼此之间没有联系，我们认为接下来家里的灯光开关一定是连起来，一个开关知道另外一个开关的动作，可以彼此发现。目前的智能家居，智能开关主要是用手机进行遥控，这是第一阶段。
　　下一阶段，连起来之后，加上我们的传感器技术，例如家里的光照度，还有时间，还有行为。举一个例子，开关自己就会知道，家里有多少人进来了，有多少人出去了，一米五的位置是最容易感知到用户行为的，可以收集大量的用户信息，甚至用户不需要用APP就可以知道用户在睡眠，知道用户离开家庭了，这样的话，家里的灯光环境就会做到很智能，最好的交互是智能交互，而不需要APP去遥控它。
　　举一个例子，半夜起床，按一下开关，灯突然之间亮起来了，这是很刺眼，很不好的体验，开关应该知道用户现在起床，他也知道现在周围黑漆漆的，这个时候灯应该是只亮10%，20%，这个时候开关也是可以感知到这个信息。所以我们认为，非常传统的开关也应该做到更加智能化，给用户更好的体验。同时他不单单是一个执行机构，还可以获得用户的信息，收集这些信息以后，可以给家里其他的家电提供数据。
　　这是我们刚刚上市的一款智能燃气报警器，我们第一次把燃气报警器做的这么“性感”，看起来像摄像机镜头一样，就是用互联网思维做一个燃气报警器，燃气报警器经常误报，在厨房里长得非常难看，配不上现在的厨房，我们希望用一款更好的设计思维，更好的技术去做燃气报警器，同时它不仅仅可以报警，也可以实现手机的延伸，不仅是家庭住户知道，他的老公，小孩也应该知道这个事情。
　　简单分享一下现在智能家居存在的一些问题。
　　1、目前大部分智能家居产品功能单一，体验不够好，普遍没有找到刚需，很多产品为了智能而智能，为了连接而连接，没有真正的把用户的需求找到，这是一个问题。
　　2、产品同质化很严重，功能雷同，缺乏创新。我这次在CES也看到，应该有200多家公司展出智能家居产品，其中不乏像GE、TCL这一类的大品牌、大公司，还有美国的一些大品牌。我们发现大家都在做智能插座，功能都差不多，没有什么创新。说得好听一点，对于创业公司来说，这是非常好的机会，因为大公司并没有跑在我们前面，说得悲观一点，这个行业已经是红海了。
　　3、现在很多互联网思维的企业过于热中做平台、做入口，我认为智能家居需要的并不是入口，也不是平台，反而是缺少内容，缺少一些好的产品，把这些好的产品先普及起来，让用户使用起来，自然就会形成平台。现在做路由器也好，做产品也好，需求都不够通，用户不用你的时候，是不可能形成入口和平台的。真正打动用户的是看得见，摸得着，用得爽的产品，真正从用户出发，这才是真正的互联网产品思维。
　　4、资本热度高，终端用户认可度不高。我们也是刚刚完成了第二轮融资，现在资本非常非常多，现在问一些二线、三线、四线城市的用户，根本对智能家居一点感觉都没有，甚至感觉我不需要这些东西，这也是目前存在的一个问题。
　　5、为了连接而连接，为了智能而智能。我看到一个小伙伴做了一个事，家里的空气温湿度传感器，我问他这个能用来干什么?说不出来，销量非常非常差，我想这也是没有认真思考连接之后的价值，智能之后的价值是什么。
　　6、互联互通的智能家居生态系统未形成。现在智能家居里面碎片化非常非常严重，每个厂家都有各自的想法，协议接口并不统一，并不开放，现在智能家居的发展并不像我们原来想象中那么快。
　　7、现在很多所谓的互联网思维公司，在创业做硬件的时候，过于强调互联网思维，但是没有把硬件当成一个产品去做，没有做出硬件的壁垒之处出来，就没有任何优势。我们看一下这些真正做得好的，能够形成壁垒的，还是把硬件产品做出壁垒来了，做出境证优势出来，并不是随便一个公司能够找一个小房子就能做出来的产品，这是我们现在很需要反思的一个问题。包括现在手环也开始慢慢的卖不动了，还是要回到硬件的竞争里面去，还是要回到产品本来的属性里面去。
　　接下来看一下2015年智能家居会有哪些新的变化?
　　1、大数据和云计算技术越来越成熟，相信智能家居的企业会越来越好。我在美国CES看到这么一个产品，一个智能的花瓶，非常有意思，花瓶可以浇水，同时能够检测花瓶里面的水含量、养分含量，还能结合天气预报，结合很多很多数据去种花，就不用担心老是忘记浇水，种的花会枯萎，这里面结合了很多数据在里面，体验会非常好。
　　2、智能家居市场将是长尾、多态、碎片化的市场，很难形成所谓的入口级产品。沙发，每个家庭都有不同的沙发，水杯，会有不同的水杯，很难像手机或者电脑一样，一款产品做得好就可以。我们作为智能家居的创业公司，要找到自己的定位，并不一定要搞性价比，我们找到自己的定位和自己的风格。智能家居的受众不是一个人，一个家庭里面有老人，有小孩，有男人，有女人，是一个受众稍微多一点的产品形态，所以我们认为它的风格会相对丰富一些，这是一个非常非常碎片化的市场。
　　3、智能设备之间大互联互通这个会形成，我们认为这是在云端进行交互，所有的设备，一定是在上面的层面进行互联互通。现在我们的产品也在跟水杯、手环进行交互，我们看到很多手环能检测用户睡眠质量，对于手环来说，只有数据，没有数据出口，台灯可以通过数据出口检测到睡眠的质量，在第二天提示用户提前睡觉或者晚一点睡觉，可以通过光，通过声音去传达，这些智能硬件最终在数据上都会互联互通起来。
　　4、强调设计、注重体验。现在很多产品还停留在功能上，我能做什么，接下来真正能够进入千家万户的智能家居产品一定是设计非常非常棒，体验非常好的产品形态，我们从Nest，或者从苹果，已经能够看到这个规律。
　　这是我们团队，欧瑞博专注智能家居，要打造科技与人文相结合的高品质家居生活方式，我们要做智能家居领域的“无印良品”，谢谢大家!</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015年01月19日</string>
		<key>Author</key>
		<string>腾讯家电</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logob</string>
		<key>Title</key>
		<string>电视会成为智能家居中心吗？</string>
		<key>Detail</key>
		<string>所谓的“智能电视”其实是延续手机、PC的概念，使用更强大的处理器搭配智能系统，可安装应用程序、实现声控等先进功能，包括Android、Tizen、Web OS等等。</string>
		<key>Image</key>
		<string>imageb</string>
		<key>Content</key>
		<string>目前最智能的智能家居中心可能是一个小盒子或是怪异的玩偶，它们的最大作用是连接各种不同物联网标准的设备，来实现统一控制或是自动化关联应用。显然，在物联网、智能家居尚未获得统一连接标准的情况下，这种设备对于打造一体化的智能家庭环境是十分必要的。　　不过，这并不意味着未来你一定要购买一款独立的智能Hub来实现这种体验，因为很可能电视会变得真正智能化，成为智能家居的枢纽。根据罗技近日开放的Harmony API接口标准显示，它不仅能够兼容多种协议如IFTTT、SmartThings等，还有可能集成在智能电视中。
　　一直以来，所谓的“智能电视”其实是延续手机、PC的概念，使用更强大的处理器搭配智能系统，可安装应用程序、实现声控等先进功能，包括Android、Tizen、Web OS等等。不过，这种“智能”却是相对狭义的，因为电视本身便是固定于家中、最常用的一种家电，如何为其植入传感器、支持某种API协议，可以与其他智能家居设备实现联动，或许会更有意义。
　　有传闻称，苹果或将扩大Apple TV的应用范围，将其作为HomeKit中心，事实上证明了上述应用形式的价值。比如，如果安全摄像头监测到异样，便会自动开启电视显示入侵者画面;或是婴儿监测器探测到宝宝频繁翻身，便会自动降低电视音量，都是非常有趣的应用形式。
　　显然，并非只有智能手机、平板电脑能够成为智能家居的入口，未来还将出现更多的自动化应用形式，智能电视也可成为其中一部分。</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015年01月16日15:54</string>
		<key>Author</key>
		<string>物联传感</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logoc</string>
		<key>Title</key>
		<string>智能家居发展迅速 2015年会是谁的天下</string>
		<key>Detail</key>
		<string>有人说，智能家居乱，那确实，智能家居还处于导入期，很多方面都还不成熟；有人说，智能家居火，那也实在，智能家居背后的价值巨大，倾倒芸芸众生。但不管怎么讲，不成熟而呈现火爆之势的智能家居正是很多厂家近年来奋力所追求的。</string>
		<key>Image</key>
		<string>imagec</string>
		<key>Content</key>
		<string>有人说，智能家居乱，那确实，智能家居还处于导入期，很多方面都还不成熟；有人说，智能家居火，那也实在，智能家居背后的价值巨大，倾倒芸芸众生。但不管怎么讲，不成熟而呈现火爆之势的智能家居正是很多厂家近年来奋力所追求的。
    为什么会智能家居如此受到那么企业待见，原因无外乎两点：一是智能家居市场潜力大；二是很多企业能够很容易找到切入点。
    智能家居是物联网最重要的一个具体应用，而物联网的规模是互联网规模的数十倍。据Gartner预测，2015年全球的物联网设备数量将达到49亿台，同时也将创造695亿美元的收入，而在2020年，物联网设备的数量将达到250亿台左右，与物联网相关边际收益或能达2630亿美元。而英国JuniperResearch研究报告显示，2018年智能家居市场总规模将达到710亿美元，比2013年的330亿美元翻一番。
    不过，智能家居只是有市场还不行，还要有足够低的门槛，事实上也是如此。智能家居不像我们想象的那么简单，相反它是一个庞大的体系，从“网络”到家居，几乎涵盖所有与我们家居生活有关的方方面面。站在行业角度分析，智能家居虽主要为家居软硬件产品，但同时涉及互联网行业、家电行业、通信行业、电子行业、房地产业行、装饰装修等行业，覆盖面相当广。
    然而正是这种复杂性、广阔的覆盖面以及庞大的体系，不但没有抬高智能家居的入行门槛，反而为各行各业的商家都提供了切入点，尽管他们所关注的点有所不同，但都能够利用自身的优势以及与智能家居的关系，成功打入该领域，并成一股重要力量。
    事实上，从去年的CES（美国国际消费电子展）上三星、LG等公司推出智能家居平台开始，便拉开了“外围”企业疯狂进军智能家居的序幕，而CES后的谷歌32亿美金大手笔收购Nest，更是让智能家居成为不少巨头的眼中的宠儿。接着在2014年的一年当中，除了物联传感等智能家居初创企业，最活跃的就是智家居“边缘”公司，例如以谷歌、苹果、微软、百度等为代表的互联网巨头，以西门子、三星、LG、海尔等为代表的电子电器大佬，以及以华为、中兴等为代表的通信设备商等。
    不得不承认，去年智能家居的火热程度达到一个高峰，但主角不是“纯正”的智能家居企业，反倒像是互联网科技公司与家电商的“二人转”，从单品，到智能家居入口，到智能家居平台，再到智能家居系统，几乎都可以看到他们的身影。不过，由于他们相关的产品、技术等并不成熟，所以更多的被认为是“抢开局”。
    值得一提的，进入2015年后，在2014年全年几乎没有什么声音，但与智能家居联系非常紧密的房地产商开始有了动作。继恒大在2014年最后两天与海尔达成在金融、家居等方面的合作后，近日又曝出万达与TCL集团联手的信息，而他们的目标同样是“跨界联合布局智能家居”。
    不管房产商对智能家居有几份真心，但可以肯定的是接下来的一年中，他们将不会只是看客，也会加入到智能家居市场的争夺大战中来。如此一来，智能家居行业将云集互联网公司、家电商、电信运营商、房地产商以及智能家居企业等几股力量，关于智能家居的竞争或将不再停留在“军备竞赛”层面，接下来的是“大战”一触即发。只是，2015，智能家居会是谁的天下呢？</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015年01月16日11:19</string>
		<key>Author</key>
		<string>长城安防网</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logod</string>
		<key>Title</key>
		<string>智能家居时代的信息隐私与安全</string>
		<key>Detail</key>
		<string>互联网高速发展有利于社会进步和经济发展，但连带出现的安全问题并不是一朝一夕就能解决的。依托于互联网技术发展的智能家居系统，其安全的重要性不言而喻。</string>
		<key>Image</key>
		<string>imaged</string>
		<key>Content</key>
		<string>互联网高速发展有利于社会进步和经济发展，但连带出现的安全问题并不是一朝一夕就能解决的。依托于互联网技术发展的智能家居系统，其安全的重要性不言而喻。
    很多人都知道计算机的安全漏洞被攻击所带来的危害，却对智能家居设备被攻击的危害没有概念。勿庸置疑，智能家居设备的安全防御系统一旦遭到摧残，损失可能要远大于一台计算机，其带来的危害很可能是物理伤害。
    前段时间，索尼公司旗下电影业务“索尼影视娱乐公司”的内部网络遭到黑客攻击，员工电脑被关闭。公司蒙受了巨大的损失，内部的财务文档、员工信息，甚至未上映的影片和内部往来邮件均被曝光。时至今日，主要“元凶”并没有浮出水面，这一事件仍有可能继续发酵。
    也许你很享受在下班前把家里的空调或暖气打开，热水器烧好洗澡水。但是你有没有想过，半夜在你睡觉时，有人把你家门打开或者把你家的煤气点着，如果您安装了网络摄像头，说不定此时此刻您就在被监视。
    您可能觉得有点言之过早、危言耸听，其实早在2013年的BlackHat大会上，韩国高丽大学的安全人员SeungjinLee就曾演示了入侵三星智能电视发布“白宫遭到攻击”假新闻的整个过程，并证明了可以通过智能电视监视用户。电视都能被入侵更何况其他联网的设备，所以笔者认为必要的担心还是要有的。
    那到底如何尽可能的保障我们的信息安全呢?以下是笔者归纳的智能家居用品在使用过程中在保障安全方面需要注意的一些小细节。
    1.注意产品软件升级
    在设备使用过程中，服务商会不定时的对设备软件进行升级与漏洞的修补(比如智能路由，智能电视等)，我们应该及时对设备软件进行修复与升级，最好是保持设备的自动更新，以保证它能正常运作，并抵制因漏洞产生安全问题。
    2.密码的设置
    在密码的重新设置这个问题上，很多人可能并不是很在意。但是，出问题的地方往往就是在这个环节，我们在重新设置密码的时候，请一定不要使用一些简单排列的密码，一长串的随机数字、字母和符号才是最佳的密码。
    3.核心控制设备保持安全
    我们的智能家居系统中都有一个核心的控制设备，可以是一台平板，也可以是一台智能设备，保持该设备的安全性是非常有必要的，避免使用日常所用的设备进行控制，最好用单独一台控制设备。
    4.无线网络的设置
    我们在设置无线路由的时候，应当尽量设置WPA2密码、打开设备的防火墙、设置端口最大设备连接数、关闭访客模式等。
    总结
    智能家居看起来智能化了，如果安全问题没有解决，麻烦会很大。和其他领域的数据安全问题一样，智能家居的视频数据会牵扯到隐私安全问题，所以首先要考虑数据的防护。国内智能家居企业物联传感的营销部门相关负责人表示，通过物联网、无线通信等技术，智能家居将家中各类设备连接起来，虽然能帮助消费者打造安全、健康、舒适、高效的家居生活环境。但是如果设备存在安全漏洞，家居设备也就有可能随时“崩盘”，所以不能说是名副其实的安全。</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015-01-15  10:18:33</string>
		<key>Author</key>
		<string>网易家居</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logoe</string>
		<key>Title</key>
		<string>智能家居是刚需还是鸡肋</string>
		<key>Detail</key>
		<string>CES2015年度展会已经过去，但是智能家居的热度还在持续发酵。难道智能家居的时代真的到来了?它真的已经成了人们生活的必需品了?</string>
		<key>Image</key>
		<string>imagee</string>
		<key>Content</key>
		<string>CES2015年度展会已经过去，但是智能家居的热度还在持续发酵。难道智能家居的时代真的到来了?它真的已经成了人们生活的必需品了?

从智能的角度来，智能家居是新兴玩意，是高科技的产物，理应受到欢迎;从家居角度来说，智能家居与人们的家庭生活息息相关，可以为用户营造更加宜人的生活环境，也应该得到用户关注。但是，这些都不如预想，智能家居只是得到了一部分人的注意，而这部分人也只有一些人心动，而心动的人中行动之人却少之又少。在很多人看来，智能家居只是商家的营销的一种方式，没有了智能家居是不能过的，但这也并不意味着智能家居没有用，相反，智能家居是提升家庭生活品质重要的一种方式。从应用层面上来说，智能家居包括门窗、家电、安防、娱乐等方面的智能，这些设备间相互连接，统一协作，在控制管理上较传统家居更为便捷、高效，并能提供独特的家庭生活体验，甚至改变我们的生活方式。从低碳、节能、环保的角度上讲，智能家居是非常有效且必要的。但总的来说，智能家是根据人们的生活水平而来，随着智能化的普及，智能家居会慢慢走进人们的生活。

但是又有人说了，现在很多家庭不是没有智能家居嘛，而且都这么多年了，传统家居也一样可以用。智能家居只是个人选择而已，而且智能家居的高价格也让很多消费者家庭望而却步，与此同时，大多数的智能家居技术提供商偏向有房一族，毕竟有住房的人才愿意花费高昂的价格对家居设施进行升级改造。那么无房一族和低收入的家庭的机会在哪里呢?

在不远的未来，没有智能家居系统的住宅会像今天上网一样不符合潮流。我们不确定会不会实现，但可以肯定的是，目前还没达到。

大家都知道智能家居是什么，也了解它有哪些功能，并且智能家居产品也能达到相互兼容，价格也不是贵的那么离谱。用起来也不错，还非常的安全，但在这些比较优势的条件下，消费者不一定会用到，因为是可有可无的东西。总的来说，智能家居还不是人们生活的必需品。

但是不得不承认智能家居的出现是时代发展的要求，不妨把顺应时代潮流的智能家居产品慢慢变成人们真正的需求。这就需要智能家居厂商需要去认真研究用户在追求什么，想要什么，社会的大趋势又是什么。我们期待包括物联传感等多家智能家居企业在未来有更多能够满足用户真正需求的智能家居产品出现，以让智能家居真正融入人们的生活。</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2014年9月10日 15:30</string>
		<key>Author</key>
		<string>安防知识网</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logof</string>
		<key>Title</key>
		<string>iOS8整合智能家居平台HomeKit</string>
		<key>Detail</key>
		<string>智能家居是苹果攥在手里很久的一张牌，如今终于要打出来了。据悉，iOS8系统随着苹果秋季发布会如期而至，将在9月 17 日正式开放。届时，iOS 用户将体验到新的 iMessage、HealthKit 及 HomeKit 等功能。</string>
		<key>Image</key>
		<string>imagef</string>
		<key>Content</key>
		<string>   智能家居是苹果攥在手里很久的一张牌，如今终于要打出来了。据悉，iOS8系统随着苹果秋季发布会如期而至，将在9月 17 日正式开放。届时，iOS 用户将体验到新的 iMessage、HealthKit 及 HomeKit 等功能。

    WWDC2014大会之后，苹果发布了智能家居平台HomeKit，该平台通过 API 与物联网中的智能家居设备连接。苹果将 HomeKit 打造成一个开放的平台，并提供授权认证，使得智能家居厂商可以与苹果合作，帮助用户利用 iOS 设备统一管理各类智能家电。

    使用场景

    具体讲，HomeKit让iPhone有机会成为家居控制中枢，打开手机，甚至无需专门安装某款应用，用户便可以控制各种家用电器或智能家居，比如电灯、电器、家庭安全警报系统等。

    一般来讲，用户可以用Siri配合HomeKit，使用语音控制电灯的开关，给电视换台，调节空调温度，甚至起落车库卷帘、给房间上锁等也不在话下。除了基本的语音控制，HomeKit 还允许用户远程查看家中设备的运行状态，并在联网条件下远程操作它们。强迫症再也不用焦虑于家里灯关没关了，因为你可以远程看到它，并且关上它;或者，在夏天回家之前先把冷气开一会儿?再好不过。

    智能家居的统一管理当然可以实现统一命令，比如，当你说出「我回家了」，房间门自动打开，电灯自动点亮，电视调到合适的台，空调开始控制室温……真是神仙享受。

    运作方式

    HomeKit可以通过蓝牙连接多点设备，当然，这些设备也需要硬件厂商与苹果的配合、联动。由于采用统一的芯片及软件，理论上，在获得苹果授权后，支持HomeKit的应用将可以获取用户各类家居设备的数据。

    苹果将硬件厂商标准项目命名为「MFI」(MadeForiPhone)，并意欲招揽更多硬件厂商加入该计划。现已与苹果展开合作的的硬件企业包括Philips(照明设备)、Chamberlain(互联车库)，August(智能门锁)，Schlage(智能门锁)，Netatmo(天气监测和恒温器)，Withings(家庭健康和健身产品)等。

    此外，苹果还积极与芯片厂商深化合作，已开展合作的厂商如德州仪器，Broadcom，Cree，Marvell等。苹果的意图在于，通过「公用网络协议」标准使HomeKit与外部设备进行安全匹配，让 iOS 系统成为智能家居的唯一入口。也许这种控制令一些人不齿，但一个统一的标准对市场和消费者都是有好处的。

    与致力解决用户健康问题的HealthKit相似，HomeKit致力提供用户更便捷的生活。无论如何，苹果这家公司走出的「开放」步伐都应该受到鼓励。我们可以预见，不久的未来，智能家居将成为潮流，而苹果也将在整个智能家居生态系统中扮演越来越重要的角色。最终，不知是苹果融入到智能家居的产业中去，还是智能家居融入到苹果帝国的生态中来。</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015-01-14 10:06:13</string>
		<key>Author</key>
		<string>新浪科技</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logog</string>
		<key>Title</key>
		<string>智能家居平台大战一触即发</string>
		<key>Detail</key>
		<string>Nest和Wink提供的软件和网络服务能实现智能家居设备之间的交互。这样的智能家居设备包括互联灯泡、安防摄像头、娱乐设备、烤箱、热水器和洗衣机等。当用户离开车库，同时又忘记关闭车库门时，智能门锁会向用户发送通知;当用户入睡后，智能吊扇能放慢转速;当用户打开大门时，智能灯泡能自动点亮。</string>
		<key>Image</key>
		<string>imageg</string>
		<key>Content</key>
		<string>　　在家得宝的店内货架上，我们已经能看到竞争的迹象。来自Nest和Wink的产品被摆放在最显眼的位置。Nest是智能恒温器和烟雾报警器开发商，去年以32亿美元的价格被谷歌收购，而Wink的母公司Quirky则获得了通用电气的投资。
　　Nest和Wink提供的软件和网络服务能实现智能家居设备之间的交互。这样的智能家居设备包括互联灯泡、安防摄像头、娱乐设备、烤箱、热水器和洗衣机等。当用户离开车库，同时又忘记关闭车库门时，智能门锁会向用户发送通知;当用户入睡后，智能吊扇能放慢转速;当用户打开大门时，智能灯泡能自动点亮。
　　Nest和Wink并不是这一领域仅有的两家公司。实际上，在本周的美国国际消费电子展(CES)上，智能家居平台已成为一个最热门的领域。
　　例如，三星将于周一在CES上发表主题演讲，介绍与SmartThings的合作。SmartThings提供智能家居设备以及控制中心，该公司已被三星收购。
　　苹果也在关注这一领域。去年6月，苹果推出了HomeKit，吸引第三方厂商开发未来的家居设备。贝尔金旗下WeMo目前销售自主的智能家居设备，同时也帮助其他厂商的设备实现互联。AT&amp;T和康卡斯特等电信巨头也在推广能连接其他智能家居设备的家用产品。
　　亚拉巴马州CentraLite Systems的CEO吉米·布斯比(Jimmy Busby)表示：“美国的每家零售商和服务提供商都希望提供自己的平台。”该公司为其他公司设计家居硬件和软件。
　　物联网的推动
　　智能家居的发展在一定程度上受到“物联网”概念的推动。英特尔和思科等公司正在大力推广这一概念。基于这一概念，消费者和企业使用的各类硬件都可以配备计算模块、无线通信模块和传感器功能。
　　尽管苹果和谷歌等巨头将缺席CES，但数百家智能家居厂商将进行展示。例如，创业公司Blossom将展示智能喷水控制器，帮助用户节约水费。另一家创业公司SkyBell计划展示视频门铃。这款门铃配备了摄像头和运动传感器，能告诉智能手机用户谁站在家门外。
　　此外，Lynx Grills将发布一款连接至智能手机的户外烤肉架，能提醒用户在烤肉时何时需要翻面。新成立的Dado Labs则帮助合作伙伴设备集成智能家居功能。该公司表示，将推出一款来自Char-Broil LLC的烤架，以及一款来自Behmor的咖啡豆烘焙器，而这两款产品都可以通过移动应用来控制。
　　Parks Associates近期的一项市场研究显示，到2014年底，这类设备的出货量将超过2000万台，而到2017年将增长至近3600万台。在美国所有安装宽带服务的家庭中，有约13%将拥有至少一台智能家居设备。
　　智能家居的支持者希望覆盖有新房出租的富裕人群，以及其他有着简单需求的人群，帮助他们监控儿童和老年人的活动。WeMo产品管理主管奥哈德·泽拉(Ohad Zeira)表示，早期的做法“要求某人自己认为，‘我今天将购买一台互联家居设备。’但我们并不认为，有人会自动出现这样的想法。”
　　大公司展开争夺
　　智能家居设备的发展仍面临着很多障碍，例如无线技术的不兼容导致设备之间无法交互数据。不过，这仍然没有阻挡创业公司和传统大公司的步伐，包括通用电气、恒温器的先驱霍尼韦尔，以及家电厂商惠而浦等。
　　其中一个例子是瑞典Assault Abloy AB旗下的Yale Locks &amp; Hardware。该公司将在今年CES上发布一款智能锁。用户可以通过智能手机上的近场通信模块来打开这一智能锁。该公司表示，近场通信技术相对于蓝牙技术有着安全优势。
　　一些大公司正在建设品牌和发布渠道。这样的优势将推动行业整合。在被谷歌收购之后，Nest收购了视频摄像头厂商Dropcam和智能家居控制设备厂商Revolv。
　　SmartThings CEO阿历克斯·霍金森(Alex Hawkinson)去年8月表示，推广一款智能家居平台“是一场大规模的游戏”。因此，与三星的合并是“覆盖大量用户的最快方式”。
　　相关厂商和设备类型越来越多推动了平台的兴起，这些平台通常会提供在线市场，用于销售设备、网络服务和管理工具。此外，另一个问题在于管理智能家居设备的应用。
　　“没有什么比15款设备使用15款不同应用更糟糕。”Greenwave Systems首席营销官奈特·威廉姆斯(Nate Williams)这样说。
　　苹果正试图凭借HomeKit来解决这一问题。苹果在iOS系统中集成了相关功能，使智能家居设备没有必要再开发单独的应用。这些功能可以方便地配置及管理多个无线设备。iDevices LLC CEO克里斯·艾伦(Chris Allen)表示：“对用户来说，情况将不再复杂。”iDevices将在CES上发布基于HomeKit的产品。</string>
	</dict>
	<dict>
		<key>AddTime</key>
		<string>2015-01-13 14:33:06</string>
		<key>Author</key>
		<string>中关村在线</string>
		<key>BrowseCount</key>
		<integer>0</integer>
		<key>Logo</key>
		<string>logoh</string>
		<key>Title</key>
		<string>未来智能家居展望 大数据与智能管家</string>
		<key>Detail</key>
		<string>智能家居发展到最后，应当是一种无需借助任何终端设备，就可直接将人的感官感受传递给家居设备，让它们能够读懂人的心思。这便是物联网时代所提倡的&quot;传感&quot;。这是真正意义上的智能家居——家居设备与人脑直接“对话”。</string>
		<key>Image</key>
		<string>imageh</string>
		<key>Content</key>
		<string>想想这样一个场景：当你疲惫了一天，回到家里，点点手机窗帘就自动关上，再点点手机灯就亮了，手机操控着家中的一切，恐怕这是很多人梦寐以求的家吧。 　　但我们反过来想想，这就是未来的智能家居吗? NO，这些顶多能被称为自动化。
　　自1984年美国联合科技提出智能家居概念，如今已经过去三十年。而在被称为“智能家居元年”的2014年，无论是传统企业还是互联网公司，都开始争相发布自己的智能家电产品。事实上，从智能路由到智能网关，从智能门锁到智能窗帘，从智能插座到智能灯泡，从智能盒子到智能电视，智能家居正四处开花，悄然影响我们的生活。
　　但现在大多数已经面世的智能家居产品更多的是停留在自动化或者是半自动化的层面，和真正的智能家居不是一回事。
　　智能家居≠自动化
　　自动和智能家居不能划等号，许多需要人来远程操控的家居设备只能称之为是自动化，不能称为智能家居设备，它们的工作就像自动洗衣机一样，需要按下按键才会进行。许多需要人来远程操控的家居设备只能称之为是自动化，不能称为智能家居设备，它们的工作就像自动洗衣机一样，需要按下按键才会进行。也就是说我们现在理解的智能家居还是需要你的指令，类似于《星际穿越》里塔斯等机器人，不过塔斯还先进一点，只需语音指令，并且还有幽默感。
　　有的人认为智能家居就是远程遥控一下，开个窗户，关个灯，这并非真正的智能家居。智慧家居是智能的，是能够学习人的生活习惯，掌握人的生活习惯，自动开启所有的东西，并不需要人再来控制开关和按钮。
　　智能家居=智能管家
　　智能家居应该是人们生活的管家，它可以帮助人们去解决很多的问题。在林加缪眼里，智能家居会像管家一样贴心，它会了解和发现人的需求。
　　举个例子：家中冰箱里少了自己最爱吃的一样东西，而自己又没想起来，智能的冰箱应该主动的提醒主人。再比如，家里的防护系统会自动识别坏人的入侵，拉响警报，锁门关灯，并拨打报警电话。
　　大数据技术
　　智能家居的一切功能少不了大数据，智能家居需要有后端的云平台，成熟的智能家居设备需要成熟的大数据技术作为支撑，否则一切都是空谈。
　　大数据，或称巨量资料，指的是所涉及的资料量规模巨大到无法通过目前主流软件工具，在合理时间内达到撷取、管理、处理、并整理成为帮助企业经营决策更积极目的的资讯。大数据最核心的价值就是在于对于海量数据进行存储和分析。相比起现有的其他技术而言，大数据的“廉价、迅速、优化”这三方面的综合成本是最优的。
　　结语：
　　智能家居发展到最后，应当是一种无需借助任何终端设备，就可直接将人的感官感受传递给家居设备，让它们能够读懂人的心思。这便是物联网时代所提倡的&quot;传感&quot;。这是真正意义上的智能家居——家居设备与人脑直接“对话”。</string>
	</dict>
</array>
</plist>
